## WIFI_AP_MODE 0 AP 1 Client
export WIFI_AP_MODE="CLIENT"

# ${current_wifi_name}
# export WIFI_AP_NAME=${current_wifi_name}
# export WIFI_AP_PASSWD=${current_wifi_pwd}
# export WIFI_IPADDR=${current_ip}
# export WIFI_GATEWAY=${current_gateway}

# ${new_wifi_name}
export WIFI_AP_NAME=${new_wifi_name}
export WIFI_AP_PASSWD=${new_wifi_pwd}
export WIFI_IPADDR=${new_ip}
export WIFI_GATEWAY=${new_gateway}